<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.3/css/all.css")
        link(rel="stylesheet", href="css/all.css")
    body
    .wrap
        header 
            nav.naber
                .topmain.container
                    .logo 個人履歷簡介
                    ul 
                        li 
                            a(href="#") 主要技能 
                        li 
                            a(href="#") 技能熟練度
                        li 
                            a(href="#") 個人簡介
            .banner 
                .banner-text 歡迎來到我的個人履歷。
        section.skill
            .skill-text
                h3 主要技能
                ul.container
                    li.weblayout
                        i.fa.fa-mobile.fa-5x
                        h4 Web Layout
                        ul.list
                            li Responsive Web Design(RWD)
                            li Bootstrap 4
                    li.javascript
                        i.fa.fa-code.fa-5x
                        h4 JavaScript & Node.js
                        ul.list
                            li JavaScript
                            li JQuery
                            li AJAX/JSON
                    li.dev 
                        i.fab.fa-html5.fa-5x
                        h4 Dev Helper
                        ul.list
                            li Gulp
                            li Git&GitHub
                            li 碼雲
        section.skilled
            .skilled-description.container
                .description-1
                    i.fas.fa-laptop-code.fa-5x
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus deleniti iste quas ut sapiente quidem iusto adipisci optio sint. Neque sequi vel quos quidem nihil et accusantium fugit nam rerum!
                .description-2
                    .progress-group
                        span.fab.fa-html5.fa-2x HTML
                        .progress
                            .progress-html
                                | 85

                    .progress-group
                        span.fab.fa-css3-alt.fa-2x CSS
                        .progress
                            .progress-css
                                | 80

                    .progress-group
                        span.fab.fa-js.fa-2x JavaScript
                        .progress
                            .progress-javascript
                                | 70

                    .progress-group
                        span.fab.fa-js.fa-2x jQuery
                        .progress
                            .progress-jquery
                                | 60

                    .progress-group
                        span.fab.fa-github-square.fa-2x GitHub
                        .progress
                            .progress-git
                                | 70

                    .progress-group
                        span.fas.fa-server.fa-2x Server
                        .progress
                            .progress-server
                                | 65

        section.profile.container
        footer.footer
            | © 2018 Ray. ALL RIGHTS RESERVED
    script(src="js/all.js")